
:root {
    #background-color: rgb(57,153,57);
    --service-bg-color: rgb(180,180, 40);
    --service-fg-color: white;

    --controller-bg-color: rgb( 25, 25,232);
    --controller-fg-color: white;

    --pod-bg-color: rgb(51,105,232);
    --pod-fg-color: blue;
}

.wide {
  /*width: 150px;*/
  width: max-content;
}

.service {
  background-color: var(--service-bg-color);
  color: var(--service-fg-color);
}

.controller {
  background-color: var(--controller-bg-color);
  color: var(--controller-fg-color);
}

.pod {
  background-color: var(--pod-bg-color);
  color: var(--pod-fg-color);
  width: max-content;
  // width: 150px;
}

.navbar {
  background-color: #447AE8;
  border: 0px;
  border-radius: 0;
}

.window span {
  vertical-align: middle;
}

#main {
  margin-top: 0;
  width: auto;
  height: 100%;
  max-width: none;
  max-height: none;
}

.demo {
  position: absolute;
  top: 42px;
  bottom: 0;
  height: auto;
  margin-bottom: 0;
}
